name: Daily Besedka Bot

on:
#  schedule:
    # 매시간 7분에 실행 (예: 1:07, 2:07 ...)
#   - cron: '7 * * * *'
  workflow_dispatch:

jobs:
  write-post:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r bot/requirements.txt

      - name: Run Bot Script
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python bot/main.py
